<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

<!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  -->
     <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
     <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<!-- <link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet"> -->

</head>
<body>

    <!-- 顶部导航-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">{{user}}</a>
            </li>
            <li>
              <a href="/logout/">退出</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>
    

{% block content %}


{% endblock %}

    <div class="container theme-showcase" role="main" style="margin-top: 500px;margin-left: 230px;width: 1010px;">
      <div class="page-header">
      </div>
      <footer class="footer">
        <p>&copy; Company 2018, Author:虫师</p>
      </footer>
    </div> <!-- /container -->


  <!-- <script>
    $(document).ready(function () {
      $("#project").click(function (e) {
          console.log("点击项目");
          // $.get("/manage/project/", function (ret) {
          //   $('#data-manage').html(ret)
          // });
          e.preventDefault();
          $(this).addClass('active');
          $('#module').removeClass('active');
          //$('#project').removeClass('active');
      });
      $("#module").click(function (e) {
        console.log("点击模块");
        // $.get("/manage/module/", function (ret) {
        //   $('#data-manage').html(ret)
        // });
        e.preventDefault();
        $(this).addClass('active');
        $('#project').removeClass('active');
      });
    });
  </script> -->
</body>
</html>
