<html>
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">
</head>
<body>
{% block content %}


{% endblock %}

    <div class="container theme-showcase" role="main" style="margin-top: 800px;margin-left: 200px;width: 1010px;">
      <div class="page-header">
      </div>
      <footer class="footer">
        <p>&copy; Company 2018, Author:虫师</p>
      </footer>
    </div> <!-- /container -->
</body>
</html>
