{% extends "base.html" %}
{% block content %}

    <!--侧边导航 -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="project">
              <a href="/manage/project">
                <span class="glyphicon glyphicon-th-large"></span> 项目管理
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="active" id="module">
              <a href="#">
                <span class="glyphicon glyphicon-th"></span> 模块管理</a>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li>
              <a href="">
                <span class="glyphicon glyphicon-th-list"></span> 用例管理</a>
            </li>
            <li>
              <a href="">
                <span class="glyphicon glyphicon-tasks"></span> 任务管理</a>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li>
              <a href="">
                <span class="glyphicon glyphicon-log-in"></span> MockServer</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">模块管理</h3>

            <div class="row">
              <div class="col-md-6">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>名称</th>
                      <th>描述</th>
                      <th>项目</th>
                      <th>时间</th>
                    </tr>
                  </thead>
                  <tbody>
                     {% for module in modules %}
                      <tr>
                        <td>{{ module.id }}</td>
                        <td>{{ module.name }}</td>
                        <td>{{ module.describe }}</td>
                        <td>{{ module.project }}</td>
                        <td>{{ module.create_time | date:"Y-m-d H:i:s" }}</td>
                      </tr>
                     {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>

<!--
    <script>
        $(document).ready(function(){
          $("#project").click(function(e){
            console.log("点击项目");
            e.preventDefault();
            $(this).addClass('active');
            $('#module').removeClass('active');
            //$('#project').removeClass('active');
          });
          $("#module").click(function (e) {
            console.log("点击服务");
            e.preventDefault();
            //$("#module").removeClass('active');
            $(this).addClass('active');
            $('#project').removeClass('active');
            //$("#module").addClass('active');
          });
        });
    </script> -->


{% endblock %}