{% extends "testtask_manage.html" %}
{% block task_add %}
<div class="container" style="width: 80%">

	<!--请求菜单-->
	<div>
		<form action="/debug/" method="get" class="bs-example bs-example-form" role="form" style="margin-top: 30px">

			<div class="input-group">
				<!--<span class="input-group-addon">名称</span>-->
				<label style="float: left;">名称：</label>
				<input id="task_name" type="text" class="form-control" placeholder="name"
							 style="width: 500px"/>
			</div>
			<br>

			<div class="input-group">
				<label style="float: left;">描述：</label>
				<textarea id="task_describe" class="form-control" rows="3" name=textarea
									style="width: 500px;"></textarea>
			</div>
			<br>

			<div class="input-group">
				<label style="float: left;">用户：</label>
				<div class="controls" style="float: left">
					<select class="input-xlarge" style="width:150px;height: 30px">
						<option>Enter</option>
						<option>Your</option>
						<option>Options</option>
						<option>Here!</option>
					</select>
				</div>
			</div>
			<br>
			
			<div style="height: 200px;">
				<div class="input-group" style="float: left;">
					<label style="float: left;">用例：</label>
					<div class="form-group" style="height: 30px; width: 350px;">
						<select id="project_name" style="float: left; height: 25px;width: 150px;"></select>
						<select id="module_name" style="float: right; height: 25px;width: 150px;"></select>
					</div>
					<div id="casesList" style="margin-left: 40px;">
					</div>
				</div>
				<p style="margin-left: 558px;">已选中的用例:</p>
				<div  id="CaseOK"  style="background-color: #E0E0E0; height: 200px; width: 300px; float: right;">
				</div>
				<button id="selectCases" type="button" class="btn btn-sm btn-default" style="float: right;margin-right: 50px;">添加</button>
			</div>

			<br>
			<div style="width: 100%; height: 60px;">
				<button type="button" class="btn btn-primary" id="save" style="float: right;">保存</button>

			</div>

		</form>
	</div>

</div>

		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript">

			// 初始化项目模块选择框
			ProjectInit('project_name', 'module_name');
			
			$(document).ready(function () {
				var options_list = "";

				// 调试接口
				$("#selectCases").click(function () {
					window.alert("已选择用例");
					var selectCases = document.querySelectorAll("#casesList > input");
					
					var options = "";
					for(let i=0;i<selectCases.length; i++){
						if(selectCases[i].checked === true){
							let cId = selectCases[i].value;
							let cName = selectCases[i].name;
							let option = '<input type="checkbox" checked="true" name="' + cName + '" value="' + cId + '" /> ' + cName + '</p >';
							//option.setAttribute("checked", "");
							options = options + option
						}
						
					}
					this.options_list = this.options_list + options;
					var testdiv = document.getElementById("CaseOK");
					testdiv.innerHTML = this.options_list;
				});
				
			});
		</script>

{% endblock %}