<html>
<head>
    <title>AppStack - Admin &amp; Dashboard Template</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/classic.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <script src="/static/js/jquery-3.4.1.js" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="wrapper">
    <!--侧边导航-->
    <nav id="sidebar" class="sidebar" style="max-width: 200px;min-width: 200px;">
        <div class="sidebar-content ">
            <a class="sidebar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-box align-middle">
                    <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                </svg>
                <span class="align-middle">App测试团队</span>
            </a>

            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Main
                </li>


                <li class="sidebar-item">
                    <a href="/performance" class="sidebar-link collapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-pie-chart align-middle">
                            <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                            <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                        </svg>
                        <span class="align-middle">性能测试</span>
                    </a>

                </li>

                <li class="sidebar-item">
                    <a href="/mock" class="sidebar-link collapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-list align-middle">
                            <line x1="8" y1="6" x2="21" y2="6"></line>
                            <line x1="8" y1="12" x2="21" y2="12"></line>
                            <line x1="8" y1="18" x2="21" y2="18"></line>
                            <line x1="3" y1="6" x2="3" y2="6"></line>
                            <line x1="3" y1="12" x2="3" y2="12"></line>
                            <line x1="3" y1="18" x2="3" y2="18"></line>
                        </svg>
                        <span class="align-middle">Mock API</span>
                    </a>

                </li>

                <li class="sidebar-item">

                    <a href="/report" class="sidebar-link collapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-monitor align-middle">
                            <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
                            <line x1="8" y1="21" x2="16" y2="21"></line>
                            <line x1="12" y1="17" x2="12" y2="21"></line>
                        </svg>
                        <span class="align-middle">测试报告</span>
                    </a>

                </li>

            </ul>

        </div>
    </nav>

    <div class="main">

        <!--头部标题-->
        <nav class="navbar navbar-expand navbar-light bg-white" style="height: 60px;">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
            <form class="form-inline d-none d-sm-inline-block">
                <input class="form-control form-control-no-border mr-sm-2" type="text" placeholder="Search projects..."
                       aria-label="Search">
            </form>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                            <img src="/static/image/avatar.jpg" class="avatar img-fluid rounded-circle mr-1"
                                 alt="Chris Wood"> <span class="text-dark">Guest</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="content">
            <div class="container-fluid p-0">
                {% block content %}


                {% endblock %}
            </div>
        </main>
    </div>
</div>
</body>
</html>