{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">

            <!-- 侧边导航 -->
            <nav class="col-md-2 d-none d-md-block sidebar" style="background-color: #2d2f3b">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/manage_page/">
                                <i class="zi zi_chartline"></i>
                                App性能
                            </a>
                        </li>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="/mock/" style="color: #959cad">
                                    <i class="zi zi_list"></i>
                                    Mock API
                                </a>
                            </li>
                        </ul>
                        <li class="nav-item">
                            <a class="nav-link" href="/report/" style="color: #959cad">
                                <i class="zi zi_filePic"></i>
                                报告预览
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #959cad">
                                <i class="zi zi_database"></i>
                                数据库查询
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #959cad">
                                <i class="zi zi_squareBook"></i>
                                日志查询
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>


            <!-- 性能测试版块 -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h5 class="h5">Performance test record</h5>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-info" onclick="getDataFun()">同步</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>App</th>
                            <th>Version</th>
                            <th>Device</th>
                            <th>CPU Average Usage</th>
                            <th>Memory Average Usage</th>
                            <th>Memory Max Usage</th>
                            <th>FPS Median</th>
                            <th>FPS Stability</th>
                            <th>Pushed time</th>
                            <th>Operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                            <tr>
                                <td>{{ d.app }}</td>
                                <td>{{ d.app_version }}</td>
                                <td>{{ d.device }}</td>
                                <td>{{ d.cpu_avg }} %</td>
                                <td>{{ d.mem_avg }} MB</td>
                                <td>{{ d.mem_max }} MB</td>
                                <td>{{ d.fps_median }} FPS</td>
                                <td>{{ d.fps_stability }} %</td>
                                <td>{{ d.pushed_time | date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    <a href="/performance/del_data/{{ d.id }}/">
                                        <i class="zi zi_trashalt"></i> delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <!-- 列表分页器 -->
                    <div class="pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" style="float:left;">
                                {% if page.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ data.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                {% endif %}


                                <li class="page-item"><a class="page-link" href="#">{{ page.number }}</a></li>

                                {% if page.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{  page.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                            <ul class="pagination" style="float:left; padding-left:18px; padding-top: 10px; ">
                                <li><p href="#">共：{{ page.num_pages }} 页</p></li>
                            </ul>

                        </nav>
                    </div>


                </div>
            </main>






        </div>
    </div>

    <script>

        // 同步数据
        function getDataFun() {
            console.log("同步数据");
            window.location.href = "/performance/get_data/"

            // $.get("/performance/get_data/", {}, function (resp) {
            //     if (resp.status == 10200) {
            //         //console.log(resp.data);
            //         var ids = ""
            //         for(let i=0; i < resp.data.length; i++ ){
            //             ids = ids + resp.data[i].id + "\n;"
            //         }
            //         console.log("wtf-->", ids);
            //         document.querySelector("#result").value = ids;
            //     } else {
            //         window.alert(resp.message);
            //     }
            // });
        }

        // 统计图表
        // var ctx = document.getElementById("myChart");
        // var myChart = new Chart(ctx, {
        //     type: 'line',
        //     data: {
        //         labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
        //         datasets: [{
        //             data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
        //             lineTension: 0,
        //             backgroundColor: 'transparent',
        //             borderColor: '#007bff',
        //             borderWidth: 4,
        //             pointBackgroundColor: '#007bff'
        //         }]
        //     },
        //     options: {
        //         scales: {
        //             yAxes: [{
        //                 ticks: {
        //                     beginAtZero: false
        //                 }
        //             }]
        //         },
        //         legend: {
        //             display: false,
        //         }
        //     }
        // });

    </script>

{% endblock %}