{% extends "mock.html" %}
{% block mock_add %}

<div role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

    <div id="urlCard" style="display: none; bottom: 8px; height: 30px">
        链接：
        <i class="zi zi_link"></i>
        <a id="ApiURL" target="_blank"></a>
    </div>

    <!--环境-方法-URI-->
    <div class="input-group mb-3" style="width: 90%">
        <div class="input-group-prepend">
            <label class="input-group-text">环境</label>
        </div>
        <input type="text" class="form-control" id="env" placeholder="t10" style="width: 30px">
        <div class="input-group-prepend">
            <label class="input-group-text">method</label>
        </div>
        <select class="custom-select" id="method">
            <option value="get" id="get">get</option>
            <option value="post" id="post">post</option>
        </select>
        <div class="input-group-prepend">
            <span class="input-group-text">URI</span>
        </div>
        <input type="text" class="form-control" id="uri" placeholder="/v2/home" style="width: 30%">

        <button type="button" class="btn btn-info" onclick="getApiData('{{ m.id }}')" style="margin-left: 20px;">
            调试
        </button>
        <button type="button" class="btn btn-secondary" onclick="saveApiData('{{ m.id }}')" style="margin-left: 20px;">
            保存
        </button>
    </div>

    <div style="width: 83%;">

        <span class="input-group">
            <label class="per-label">Header: </label>
        </span>

        <span class="input-group mb-3">
             <div class="input-group">
                <div id="headerEditor" style="width: 100%"></div>
             </div>
        </span>

    </div>

    <!--参数：类型&参数值-->
    <div style="width: 83%;">

        <span class="input-group">
            <label class="per-label">参数: </label>

            <div class="">
                <div class="form-check form-check-inline ">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="requestType" id="json" value="json" checked>
                        json
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="requestType" id="data" value="data">
                        data
                    </label>
                </div>
            </div>
        </span>

        <span class="input-group mb-3">
             <div class="input-group">
                <div id="parameterEditor" style="width: 100%"></div>
             </div>
        </span>

    </div>

    <label class="per-label">返回结果: </label>
    <div id="response" style="background-color: #F5F5DC"></div>
</div>

{% load static %}
<!--<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-jsonview/1.2.3/jquery.jsonview.css">-->
<!--<script src="https://cdn.bootcss.com/jquery-jsonview/1.2.3/jquery.jsonview.js"></script>-->
<!--<link href="https://cdn.bootcss.com/jsoneditor/5.32.5/jsoneditor.css" rel="stylesheet">-->
<!--<script src="https://cdn.bootcss.com/jsoneditor/5.32.5/jsoneditor.js"></script>-->
<script src="{% static "js/jquery.jsonview.js" %}"></script>
<script src="{% static "js/jsoneditor.js" %}"></script>
<link href="{% static "css/jsoneditor.css" %}" rel="stylesheet">
<link href="{% static "css/jquery.jsonview.css" %}" rel="stylesheet">


<script type="text/javascript">

    var defResponse = "";

    //初始化JSONeditor编辑框
    var parameters = document.getElementById("parameterEditor");
    var headers = document.getElementById("headerEditor");
    var options = {
        mode: "code",
    };
    var parameterEditor = new JSONEditor(parameters, options);
    var headerEditor = new JSONEditor(headers, options);


    //设置Api的地址
    function setApiLink() {
        let local_url = document.location;
        let uri = document.querySelector("#uri").value;
        let api_link = local_url.origin + "/api/" + uri;
        let apiurl = document.querySelector("#ApiURL");
        apiurl.setAttribute("href", api_link);
        apiurl.innerHTML = api_link;
    }

    //获取Api信息
    $(document).ready(function () {

        let local_url = document.location;
        let mid = local_url.pathname.split("/")[3];

        if (mid !== "0") {

            document.querySelector("#urlCard").style.display = "block";

            $.post("/mock/see_api/", {
                "mid": mid,
            }, function (resp) {
                if (resp.status === 10200) {
                    let result = resp.data;

                    // evn
                    document.querySelector("#env").value = result.env;

                    //method
                    if (result.method === "get") {
                        document.querySelector("#method").selectedIndex = 0;
                    } else if (result.method === "post") {
                        document.querySelector("#method").selectedIndex = 1;
                    }

                    //URI
                    document.querySelector("#uri").value = result.uri;
                    let api_link = local_url.origin + "/api/" + result.uri;
                    let apiurl = document.querySelector("#ApiURL");
                    apiurl.setAttribute("href", api_link);
                    apiurl.innerHTML = api_link;

                    //header
                    let header_json = JSON.parse(result.header);
                    headerEditor.set(header_json);

                    //response
                    defResponse = result.response;
                    $("#response").JSONView(result.response);

                    //request
                    let request_json = JSON.parse(result.request);
                    parameterEditor.set(request_json);

                    //request_type
                    if (result.request_type === "json") {
                        document.querySelector("#json").setAttribute("checked", "");
                    } else if (result.request_type === "data") {
                        document.querySelector("#data").setAttribute("checked", "");
                    }


                } else {
                    window.alert(resp.message);
                }
            });

        } else {
            let defaultData= {};
            parameterEditor.set(defaultData);
        }

    });

    //获取API数据
    function getApiData() {

        let env = $('#env').val();
        let method = $('#method option:selected').val();
        let uri = $("#uri").val();
        let reqType = $('input[name="requestType"]:checked').val();

        if (env === ""){
            window.alert("环境不能为空！");
            return;
        }

        if (uri === "") {
            window.alert("URI不能为空！");
            return;
        }

        let header = headerEditor.get();
        let header_str = JSON.stringify(header, null, 2);

        let request = parameterEditor.get();
        let request_str = JSON.stringify(request, null, 2);

        $.post("/mock/get_api_data/", {
            "env": env,
            "method": method,
            "uri": uri,
            "header": header_str,
            "request_type": reqType,
            "request": request_str
        }, function (resp) {
            if (resp.status === 10200) {
                window.alert(resp.message);
                defResponse = resp.data;
                document.querySelector("#urlCard").style.display = "block";
                setApiLink();
                $("#response").JSONView(resp.data);
            } else {
                window.alert(resp.message);
            }
        });
    }

    // 保存API数据
    function saveApiData() {
        let env = $('#env').val();
        let method = $('#method option:selected').val();
        let uri = $("#uri").val();
        let reqType = $('input[name="requestType"]:checked').val();

        if (env === ""){
            window.alert("环境不能为空！");
            return;
        }

        if (uri === "") {
            window.alert("URI不能为空！");
            return;
        }

        if (defResponse === ""){
            window.alert("请先调试接口！");
            return;
        } else {
            defResponse = JSON.stringify(defResponse);
        }

        let header = headerEditor.get();
        let header_str = JSON.stringify(header, null, 2);

        let request = parameterEditor.get();
        let request_str = JSON.stringify(request, null, 2);

        $.post("/mock/save_api_data/", {
            "env": env,
            "method": method,
            "uri": uri,
            "header": header_str,
            "request_type": reqType,
            "request": request_str,
            "response": defResponse,
        }, function (resp) {
            if (resp.status === 10200) {
                window.alert(resp.message);
                document.querySelector("#urlCard").style.display = "block";
                setApiLink();
                $("#response").JSONView(resp.data);
            } else {
                window.alert(resp.message);
            }
        });
    }


</script>

<style>
    div.jsoneditor {
        border: thin solid #ced4da;
    }

    div.jsoneditor-menu {
        display: none;
    }

    .ace-jsoneditor .ace_gutter {
        background: white;
    }

    div.jsoneditor-outer.has-main-menu-bar {
        margin-top: 0px;
        padding-top: 0px;
    }

    .per-label {
        margin-right: 10px;
        margin-bottom: 4px;
        font-size: 1rem;
    }

</style>

{% endblock %}