{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- 侧边导航 -->
        <nav class="col-md-2 d-none d-md-block sidebar" style="background-color: #2d2f3b">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/manage_page/" style="color: #959cad">
                            <i class="zi zi_chartline"></i>
                            App性能
                        </a>
                    </li>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link active" href="/mock/">
                                <i class="zi zi_list"></i>
                                Mock API
                            </a>
                        </li>
                    </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/report/" style="color: #959cad">
                            <i class="zi zi_filePic"></i>
                            报告预览
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #959cad">
                            <i class="zi zi_database"></i>
                            数据库查询
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #959cad">
                            <i class="zi zi_squareBook"></i>
                            日志查询
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- Mock API列表 -->
        {% if part == "list" %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h5 class="h5">Mock API</h5>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <a href="add/0">
                            <button type="button" class="btn btn-primary">添加</button>
                        </a>
                        <button type="button" class="btn btn-link"
                                onclick="MSHelp()"
                                data-toggle="modal" data-target="#SeeHelp">Help</button>
                    </div>
                </div>
            </div>

            <form method="get" action="">
                <div class="form-group">
                    <label class="per-label" id="uriLabel">URI: </label>
                    <input type="input" class="form-control" name="searchURI" id="uriInput">
                    <button type="submit" class="btn btn-dark">搜索</button>
                </div>
            </form>

            <!--API列表-->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Method</th>
                        <th>URI</th>
                        <th>备注</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for m in mockApi %}
                    <tr>
                        <td>{{ m.id }}</td>
                        <td>
                            {% if m.method == "get" %}
                                <span class="badge badge-primary">GET</span>
                            {% endif %}
                            {% if m.method == "post" %}
                                <span class="badge badge-success">POST</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ m.uri }}
                            <a id="ApiURL" target="_blank" href="/api/{{ m.uri }}" style="margin-left: 5px">
                                <i class="zi zi_link"></i>
                            </a>
                        </td>
                        <td>{{ m.desc }}</td>
                        <td>
                            <a href="/mock/add/{{ m.id }}">
                                <button type="button" class="btn btn-link btn-sm">查看</button>
                            </a>
                            <button type="button" class="btn btn-link btn-sm"
                                    onclick="editApi('{{ m.id }}')"
                                    data-toggle="modal" data-target="#SeeApi">备注
                            </button>
                            <button type="button" class="btn btn-link btn-sm" onclick="deleteApi('{{ m.id }}')">删除
                            </button>
                            <button type="button" class="btn btn-link btn-sm" onclick="updateApi('{{ m.id }}')">同步
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!-- 编辑Api模态框 -->
                <div class="modal fade" id="SeeApi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">编辑备注 ID:<span id="ApiID"></span></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="desc" placeholder="这里添加API备注">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveApi()">
                                    保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- mock server 帮助 -->
            <div class="modal fade" id="SeeHelp" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 680px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Mock Server使用帮助</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="MSHelp">

                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <!-- 列表分页器 -->
            <div class="pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" style="float:left;">
                        {% if page.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?searchURI={{ uri }}&page={{ page.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}


                        <li class="page-item"><a class="page-link" href="#">{{ page.number }}</a></li>

                        {% if page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?searchURI={{ uri }}&page={{  page.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                    <ul class="pagination" style="float:left; padding-left:18px; padding-top: 10px; ">
                        <li><p href="#">共：{{ page.num_pages }} 页</p></li>
                    </ul>

                </nav>
            </div>


        </main>
        {% endif %}

        <!-- 添加Mock API -->
        {% if part == "add" %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h5 class="h5">添加 Mock API</h5>
            </div>
        </main>
            {% block mock_add %}

            <!--mock_add.html-->

            {% endblock %}

        {% endif %}



    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript">

    //编辑Api
    function editApi(id) {

        $.post("/mock/edit_api/", {
            "mid": id,
        }, function (resp) {
            if (resp.status === 10200) {
                document.querySelector("#desc").value = resp.data;
                document.querySelector("#ApiID").innerText = id;
            } else {
                window.alert(resp.message);
            }
        });

    }

    // mock server help
    function MSHelp(id) {

        $.get("/mock/get_help/", {}, function (resp) {
            if (resp.status === 10200) {
                console.log("help", resp.data);
                document.querySelector("#MSHelp").innerHTML = marked(resp.data);

            } else {
                window.alert(resp.message);
            }
        });

    }

    //保存Api
    function saveApi() {

        let id = document.querySelector("#ApiID").textContent;
        let desc = document.querySelector("#desc").value;

        $.post("/mock/save_api/", {
            "mid": id,
            "desc": desc,
        }, function (resp) {
            if (resp.status === 10200) {
                location.reload();
            } else {
                window.alert(resp.message);
            }

        });

    }

    //同步Api
    function updateApi(id) {
        window.alert("确定同步该接口数据？");
        $.post("/mock/update_api/", {
            "mid": id,
        }, function (resp) {
            if (resp.status === 10200) {
                window.alert(resp.message);
                location.reload();
            }else {
                window.alert(resp.message);
            }
        });
    }

    //删除Api
    function deleteApi(id) {
        var ret = window.confirm("确定要删除？");
        if (ret == true) {
            $.post("/mock/del_api/", {
                "mid": id,
            }, function (resp) {
                if (resp.status === 10200) {
                    window.alert(resp.message);
                    location.reload();
                }
            });

        } else {
            console.log("取消删除");
        }

    }


</script>

<style>
    #uriLabel {
        float: left;
        margin-top: 8px;
        margin-right: 10px;
    }
    #uriInput {
        float: left;
        width: 30%;
        margin-right: 10px;
    }
</style>
{% endblock %}
