{% extends "index.html" %}
{% block content %}

<!-- Mock API列表 -->
{% if part == "list" %}

<div class="col-12 col-lg-7 col-xl-8 d-flex" style="max-width: 100%">
    <div class="card flex-fill">
        <div class="card-header">
            <h5 class="card-title mb-0" style="float: left">Mock API</h5>
            <div class="btn-toolbar mb-2 mb-md-0" style="float: right">
                <div class="btn-group mr-2">
                    <a href="add/0">
                        <button type="button" class="btn btn-primary">添加</button>
                    </a>
                    <button type="button" class="btn btn-link"
                            onclick="MSHelp()"
                            data-toggle="modal" data-target="#SeeHelp">Help
                    </button>
                </div>
            </div>
        </div>
        <form method="get" action="">
            <div class="form-group">
                <label class="per-label uri-title" id="uriLabel">URI: </label>
                <input type="input" class="form-control uri-input" name="searchURI" id="uriInput">
                <button type="submit" class="btn btn-dark" style="float:left;">搜索</button>
            </div>
        </form>

        <div id="datatables-dashboard-traffic_wrapper" class="dataaTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="datatables-dashboard-traffic" class="table table-striped my-0 dataTable no-footer"
                           role="grid" aria-describedby="datatables-dashboard-traffic_info">
                        <thead>
                        <tr role="row" style="font-size: 14px">
                            <th>ID</th>
                            <th>Method</th>
                            <th>URI</th>
                            <th>备注</th>
                            <th>Operation</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for m in mockApi %}
                        <tr role="row" class="odd" style="font-size: 13px">
                            <td>{{ m.id }}</td>
                            <td>
                                {% if m.method == "get" %}
                                <span class="badge badge-primary">GET</span>
                                {% endif %}
                                {% if m.method == "post" %}
                                <span class="badge badge-success">POST</span>
                                {% endif %}
                            </td>
                            <td>
                                {{ m.uri }}
                                <a id="ApiURL" target="_blank" href="/api/{{ m.uri }}" style="margin-left: 5px">
                                    <i class="zi zi_link"></i>
                                </a>
                            </td>
                            <td>{{ m.desc }}</td>
                            <td>
                                <a href="/mock/add/{{ m.id }}">
                                    <button type="button" class="btn btn-link btn-sm">查看</button>
                                </a>
                                <button type="button" class="btn btn-link btn-sm"
                                        onclick="editApi('{{ m.id }}')"
                                        data-toggle="modal" data-target="#SeeApi">备注
                                </button>
                                <button type="button" class="btn btn-link btn-sm" onclick="deleteApi('{{ m.id }}')">删除
                                </button>
                                <button type="button" class="btn btn-link btn-sm" onclick="updateApi('{{ m.id }}')">同步
                                </button>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <!-- 编辑Api模态框 -->
                    <div class="modal fade" id="SeeApi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">编辑备注 ID:<span id="ApiID"></span></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="desc" placeholder="这里添加API备注">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            onclick="saveApi()">
                                        保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- mock server 帮助 -->
                    <div class="modal fade" id="SeeHelp" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document" style="max-width: 680px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLabel">Mock Server使用帮助</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="MSHelp">

                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables-dashboard-traffic_info" role="status" aria-live="polite"
                     style="margin-left: 10px;">
                    共：{{ page.num_pages }} 页
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="datatables-dashboard-traffic_paginate"
                     style="float: right; margin-right: 30px;">
                    <ul class="pagination">

                        {% if page.has_previous %}
                        <li class="paginate_button page-item previous"
                            id="datatables-dashboard-traffic_previous">
                            <a href="?searchURI={{ uri }}&page={{ page.previous_page_number }}"
                               aria-controls="datatables-dashboard-traffic"
                               data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        {% endif %}


                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="datatables-dashboard-traffic"
                               data-dt-idx="1" tabindex="0" class="page-link">{{ page.number }}</a>
                        </li>

                        {% if page.has_next %}
                        <li class="paginate_button page-item next" id="datatables-dashboard-traffic_next">
                            <a href="?searchURI={{ uri }}&page={{  page.next_page_number }}"
                               aria-controls="datatables-dashboard-traffic" data-dt-idx="2" tabindex="0"
                               class="page-link">Next</a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}


<!-- 添加Mock API -->
{% if part == "add" %}
<div class="col-12 col-lg-7 col-xl-8 d-flex" style="max-width: 100%">
    <div class="card flex-fill">
    {% block mock_add2 %}

    <!--mock_add.html-->

    {% endblock %}
    </div>
</div>
{% endif %}


<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript">

    //编辑Api
    function editApi(id) {

        $.post("/mock/edit_api/", {
            "mid": id,
        }, function (resp) {
            if (resp.status === 10200) {
                document.querySelector("#desc").value = resp.data;
                document.querySelector("#ApiID").innerText = id;
            } else {
                window.alert(resp.message);
            }
        });

    }

    // mock server help
    function MSHelp(id) {

        $.get("/mock/get_help/", {}, function (resp) {
            if (resp.status === 10200) {
                console.log("help", resp.data);
                document.querySelector("#MSHelp").innerHTML = marked(resp.data);

            } else {
                window.alert(resp.message);
            }
        });

    }

    //保存Api
    function saveApi() {

        let id = document.querySelector("#ApiID").textContent;
        let desc = document.querySelector("#desc").value;

        $.post("/mock/save_api/", {
            "mid": id,
            "desc": desc,
        }, function (resp) {
            if (resp.status === 10200) {
                location.reload();
            } else {
                window.alert(resp.message);
            }

        });

    }

    //同步Api
    function updateApi(id) {
        window.alert("确定同步该接口数据？");
        $.post("/mock/update_api/", {
            "mid": id,
        }, function (resp) {
            if (resp.status === 10200) {
                window.alert(resp.message);
                location.reload();
            } else {
                window.alert(resp.message);
            }
        });
    }

    //删除Api
    function deleteApi(id) {
        var ret = window.confirm("确定要删除？");
        if (ret == true) {
            $.post("/mock/del_api/", {
                "mid": id,
            }, function (resp) {
                if (resp.status === 10200) {
                    window.alert(resp.message);
                    location.reload();
                }
            });

        } else {
            console.log("取消删除");
        }

    }


</script>

<style>
    .uri-title {
        float: left;
        margin-left: 20px;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-top: 5px;
    }

    .uri-input {
        float: left;
        width: 30%;
        margin-right: 10px;
    }
</style>
{% endblock %}