{% extends "index.html" %}
{% block content %}


<!-- 性能测试 -->
<div class="card flex-fill">
    <div class="card-header">
        <div class="card-actions float-right">
            <div class="dropdown show">
                <span class="sidebar-badge badge badge-primary" onclick="getDataFun()" style="cursor:hand">同步</span>
            </div>
        </div>
        <h5 class="card-title mb-0">Performance test record</h5>
    </div>
    <div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="datatables-dashboard-traffic" class="table table-striped my-0 dataTable no-footer" role="grid" aria-describedby="datatables-dashboard-traffic_info">
                    <thead>
                    <tr role="row" style="font-size: 14px">
                        <th>App</th>
                        <th>Version</th>
                        <th>Device</th>
                        <th>CPU Average Usage</th>
                        <th>Memory Average Usage</th>
                        <th>Memory Max Usage</th>
                        <th>FPS Median</th>
                        <th>FPS Stability</th>
                        <th>Pushed time</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 13px">
                        {% for d in data %}
                            <tr role="row" class="odd" style="font-size: 13px">
                                <td>{{ d.app }}</td>
                                <td>{{ d.app_version }}</td>
                                <td>{{ d.device }}</td>
                                <td>{{ d.cpu_avg }} %</td>
                                <td>{{ d.mem_avg }} MB</td>
                                <td>{{ d.mem_max }} MB</td>
                                <td>{{ d.fps_median }} FPS</td>
                                <td>{{ d.fps_stability }} %</td>
                                <td>{{ d.pushed_time | date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    <a href="/performance/del_data/{{ d.id }}/">
                                        删除
                                    </a>
                                </td>
                            </tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables-dashboard-traffic_info" role="status" aria-live="polite">
                     共：{{ page.num_pages }} 页
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="datatables-dashboard-traffic_paginate">
                    <ul class="pagination">
                        {% if page.has_previous %}
                        <li class="paginate_button page-item previous"
                            id="datatables-dashboard-traffic_previous">
                            <a href="?page={{ data.previous_page_number }}"
                               aria-controls="datatables-dashboard-traffic"
                               data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        {% endif %}


                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="datatables-dashboard-traffic"
                               data-dt-idx="1" tabindex="0" class="page-link">{{ page.number }}</a>
                        </li>

                        {% if page.has_next %}
                        <li class="paginate_button page-item next" id="datatables-dashboard-traffic_next">
                            <a href="?page={{  page.next_page_number }}"
                               aria-controls="datatables-dashboard-traffic" data-dt-idx="2" tabindex="0"
                               class="page-link">Next</a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    // 同步数据
    function getDataFun() {
        console.log("同步数据");
        window.location.href = "/performance/get_data/"

    }


</script>

{% endblock %}