{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- 侧边导航 -->
        <nav class="col-md-2 d-none d-md-block sidebar" style="background-color: #2d2f3b">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/manage_page/" style="color: #959cad">
                            <i class="zi zi_chartline"></i>
                            App性能
                        </a>
                    </li>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="/mock/" style="color: #959cad">
                                <i class="zi zi_list"></i>
                                Mock API
                            </a>
                        </li>
                    </ul>
                    <li class="nav-item">
                        <a class="nav-link active" href="/report/">
                            <i class="zi zi_filePic"></i>
                            报告预览
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #959cad">
                            <i class="zi zi_database"></i>
                            数据库查询
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #959cad">
                            <i class="zi zi_squareBook"></i>
                            日志查询
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- 测试报告列表展示 -->
        {% if part == "report_list" %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h5 class="h5">App test report</h5>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-info" onclick="getReportList()">同步</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th>id</th>
                            <th>平台</th>
                            <th>版本</th>
                            <th>日期</th>
                            <th>失败</th>
                            <th>错误</th>
                            <th>跳过</th>
                            <th>用例</th>
                            <th>时长</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for r in reports %}
                        <tr>
                            <td>{{ r.id }}</td>
                            <td>{{ r.platform }}</td>
                            <td>{{ r.version }}</td>
                            <td>{{ r.data_time }}</td>
                            <td>{{ r.error }}</td>
                            <td>{{ r.failure }}</td>
                            <td>{{ r.skipped }}</td>
                            <td>{{ r.tests }}</td>
                            <td>{{ r.run_time }} s</td>
                            <td>
                                <a href="/report/{{ r.id }}/">
                                    截图
                                </a>
                                <a target="_blank" href="/static/report/{{r.name}}/report.html">
                                    HTML报告
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <!-- 列表分页器 -->
                    <div class="pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" style="float:left;">
                                {% if page.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ data.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                {% endif %}


                                <li class="page-item"><a class="page-link" href="#">{{ page.number }}</a></li>

                                {% if page.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{  page.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                {% endif %}

                            </ul>
                            <ul class="pagination" style="float:left; padding-left:18px; padding-top: 10px; ">
                                <li><p href="#">共：{{ page.num_pages }} 页</p></li>
                            </ul>

                        </nav>
                    </div>

                </div>
            </main>
        {% endif %}

        <!-- 测试报告图片列表展示 -->
        {% if part == "preview" %}

             {% block preview %}

             <!--report_preview.html-->

             {% endblock %}


        {% endif %}


    </div>
</div>

<script>

    // 同步数据
    function getReportList() {

        $.get("/report/scan_report", {}, function (resp) {
            if (resp.status === 10200) {
                window.alert(resp.message);
                location.reload();
            } else {
                window.alert(resp.message);
            }
        });
    }

</script>


{% endblock %}