{% extends "report2.html" %}
{% block preview %}


<div class="card flex-fill w-100">
    <div class="card-header report-title">
        <div class="float-right">
            <div class="dropdown show">
                <p id="report_name">{{report_name}}</p>
            </div>
        </div>
        <h5 class="card-title mb-0">Review Test Case</h5>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        </div>

        <p style="margin-top: 10px;">用例列表：</p>

        <div class="card case-list-card" style="width: 26%">
            <ul id="treeDemo" class="ztree"></ul>
        </div>

        <!--步骤列表-->
        <div style="float: right; width: 72%">
            <div class="case-desc-div">
                """
                <p class="case-desc"></p>
                """
            </div>
            <div class="card-body" id="snapshots">
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<link href="http://cdn.bootcss.com/zTree.v3/3.5.23/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/zTree.v3/3.5.23/js/jquery.ztree.all.js"></script>
<script type="text/javascript">
    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
        check: {
            enable: false,
            chkStyle: "checkbox"
        },
        callback: {
            onClick: zTreeOnClick,
        }
    };

    function zTreeOnClick(event, treeId, treeNode) {
        console.log("节点", treeNode);
        var reportName = document.querySelector("#report_name").innerText;

        if (treeNode.isParent === false) {
            console.log(treeNode.tId + "," + treeNode.id);
            $.get("/report/case_screenshots", {
                cid: treeNode.id
            }, function (resp) {
                if (resp.status === 10200) {
                    console.log(resp.data);
                    document.querySelector(".case-desc-div").style.display = "block";
                    document.querySelector(".case-desc").innerHTML = resp.data.desc;
                    let result = resp.data.list;
                    var snapshotsDivs = "";
                    for (let i = 0; i < result.length; i++) {
                        let div = '<div class="card snapshots-card">\n' +
                            '<img class="snapshots-jpg" ' +
                            'src="/static/report/' + reportName + '/snapshot/' + result[i].full_path + '"/>\n' +
                            '<p class="card-text snapshots-desc">时间：' + result[i].step_name + '</p>\n' +
                            '</div>';
                        snapshotsDivs = snapshotsDivs + div;
                    }
                    document.querySelector("#snapshots").innerHTML = snapshotsDivs;

                } else {
                    window.alert(resp.message);
                }
            });
        }

    }

    let local_url = document.location;
    let rid = local_url.pathname.split("/")[2];

    $(document).ready(function () {
        // 调用获取用例树
        $.get("/report/case_tree", {
            rid: rid
        }, function (resp) {
            if (resp.status === 10200) {
                var zNodes = resp.data;
                zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                zTreeObj.expandAll(true);  //设置默认展开
            }
        });
    });

</script>

<style>
    .report-title{
        padding-bottom: 0px;
        border-bottom-width: 0px;
        padding-top: 22px;
    }
    .case-list-card {
        background-color: #f5f5f5;
        width: 300px;
        height: auto !important;
        height: 500px;
        min-height: 500px;
        float: left;
    }

    .snapshots-card {
        width: 190px;
        float: left;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 50px;
        box-shadow: 10px 10px 5px #888888;
    }

    .snapshots-jpg {
        width: 185px;
        margin-left: 5px;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .snapshots-desc {
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .case-desc-div {
        background-color: #FAF9DE;
        color: green;
        display: none
    }

</style>
{% endblock %}