{% extends "index.html" %}
{% block content %}


{% if part == "report_list" %}
<div class="card flex-fill">
    <div class="card-header">
        <div class="card-actions float-right">
            <div class="dropdown show">
                <span class="sidebar-badge badge badge-primary" onclick="getReportList()" style="cursor:hand">同步</span>
            </div>
        </div>
        <h5 class="card-title mb-0">App test report</h5>
    </div>
    <div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="datatables-dashboard-traffic" class="table table-striped my-0 dataTable no-footer"
                       role="grid" aria-describedby="datatables-dashboard-traffic_info">
                    <thead>
                    <tr role="row">
                        <th>id</th>
                        <th>平台</th>
                        <th>版本</th>
                        <th>日期</th>
                        <th>失败</th>
                        <th>错误</th>
                        <th>跳过</th>
                        <th>用例</th>
                        <th>时长</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 14px">
                        {% for r in reports %}
                        <tr class="odd">
                            <td>{{ r.id }}</td>
                            <td>{{ r.platform }}</td>
                            <td>{{ r.version }}</td>
                            <td>{{ r.data_time }}</td>
                            <td>{{ r.error }}</td>
                            <td>{{ r.failure }}</td>
                            <td>{{ r.skipped }}</td>
                            <td>{{ r.tests }}</td>
                            <td>{{ r.run_time }} s</td>
                            <td>
                                <a href="/report/{{ r.id }}/">
                                    截图
                                </a>
                                <a target="_blank" href="/static/report/{{r.name}}/report.html">
                                    HTML报告
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables-dashboard-traffic_info" role="status" aria-live="polite">
                     共：{{ page.num_pages }} 页
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="datatables-dashboard-traffic_paginate">
                    <ul class="pagination">
                        {% if page.has_previous %}
                        <li class="paginate_button page-item previous"
                            id="datatables-dashboard-traffic_previous">
                            <a href="?page={{ data.previous_page_number }}"
                               aria-controls="datatables-dashboard-traffic"
                               data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        {% endif %}


                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="datatables-dashboard-traffic"
                               data-dt-idx="1" tabindex="0" class="page-link">{{ page.number }}</a>
                        </li>

                        {% if page.has_next %}
                        <li class="paginate_button page-item next" id="datatables-dashboard-traffic_next">
                            <a href="?page={{  page.next_page_number }}"
                               aria-controls="datatables-dashboard-traffic" data-dt-idx="2" tabindex="0"
                               class="page-link">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- 测试报告图片列表展示 -->
{% if part == "preview" %}

     {% block preview %}

     <!--report_preview.html-->

     {% endblock %}


{% endif %}

<script type="text/javascript">

    // 同步数据
    function getReportList() {

        $.get("/report/scan_report", {}, function (resp) {
            if (resp.status === 10200) {
                window.alert(resp.message);
                location.reload();
            } else {
                window.alert(resp.message);
            }
        });
    }


</script>

{% endblock %}